@media (prefers-color-scheme: dark) {
  :root {
    --page-background-image: url("../images/cover-image-dark.png");
    --rec-decor-visibility: visible;
    --text-color: var(--color-pink-text, #f1b2ce);
    --brand-color: var(--color-purple-brand, #db00ff);
    --secondary-color: var(--color-purple-page, #ff0070);
    --secondary-color-o-head: var(--color-purple-sec-o-head, #ff007040);
    --accent-color: var(--color-purple-page, #ff0070);
    --highlight-color: var(--color-black-back, #000028);
    --page-background-color: var(--color-black-back, #000028);
  }
}

/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --page-background-image: url("../images/cover-image-dark.png");
  --rec-decor-visibility: visible;
  --text-color: var(--color-pink-text, #f1b2ce);
  --brand-color: var(--color-purple-brand, #db00ff);
  --secondary-color: var(--color-purple-page, #ff0070);
  --secondary-color-o-head: var(--color-purple-sec-o-head, #ff007040);
  --accent-color: var(--color-purple-page, #ff0070);
  --highlight-color: var(--color-black-back, #000028);
  --page-background-color: var(--color-black-back, #000028);

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
