/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-font-family: "IBM Plex mono", monospace;
  --page-background-image: url("../images/cover-image.png");
  --page-background-color: var(--color-black-back, #000028);
  --rec-decor-visibility: visible;
  --color-pink-back: #fff1f7;
  --color-pink-text: #f1b2ce;
  --color-pink-brand: #ffc2e6;
  --color-pink-accent: #ff8dcb;
  --color-purple-brand: #db00ff;
  --color-purple-page: #ff0070;
  --color-purple-sec-o-head: #ff007040;
  --color-black-back: #000028;
  --color-black-text: #353430;
  --color-black-sec-o-head: #35343040;
  --text-color: var(--color-pink-text, #f1b2ce);
  --brand-color: var(--color-purple-brand, #db00ff);
  --secondary-color: var(--color-purple-page, #ff0070);
  --secondary-color-o-head: var(--color-purple-sec-o-head, #ff007040);
  --accent-color: var(--color-purple-page, #ff0070);
  --highlight-color: var(--color-black-back, #000028);
}